.gameContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.example_game {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.screen {
  background-color: #a4fc20;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.turret {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: calc(50% - 0.4rem);
  left: calc(50% - 0.4rem);
  box-sizing: border-box;
}

.gun {
  background-color: #1bad00;
  width: 0.3rem;
  height: 1rem;
  border: solid 0.07rem #000;
  position: absolute;
  bottom: calc(100% - 0.5rem);
  left: calc(50% - 0.15rem);
  box-sizing: border-box;
}

.body {
  background-color: #1bad00;
  width: 0.8rem;
  height: 0.8rem;
  border: solid 0.07rem #000;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.heart {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.4rem;
  transform: rotate(45deg);
  border-radius: 0 0 30% 0;
  position: relative;
  
  &.full {
    background-color: #e41435;
    &:before, &:after {
      background-color: #e41435;
    }
  }
  
  &.empty {
    background-color: #000;
    &:before, &:after {
      background-color: #000;
    }
  }
}

.life {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  display: flex;
  flex-direction: row-reverse;
}

.score {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
